body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

p {
    color: #696969;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.orange-color {
    color: orange;
}

.flexible-container {
    display: flex;
    margin-bottom: 150px;
}

.half-width {
    width: 50%;
    padding-left: 6%;
}

.half-width img {
    width: 87%;
}

.link-button {
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 5px;
    background-image: linear-gradient(orange, tomato);
    font-weight: 700;
    color: #ffffff;
    display: inline-block;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 150px;
}

.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experience-item {
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-right: 5%;
    margin-left: 5%;
    padding-left: 20px;
    border-radius: 5px;

}

#exp-1 {
    border-left: 7px solid tomato;
}

#exp-2 {
    border-left: 7px solid blue;
}

footer p {
    color: #000000cb;
    text-align: center;
}
